@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
body {
 
  font-family: 'DM Sans', sans-serif;
}

a {
  color: #00B7FF;
}

main {
  padding: 50px;
}

.navbar-dark {
  background-color: #A90432;
}

h1{
  color: #FDB912;
}

h2{
  color:blue;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}